<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hackamors </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="./../../logo.ico">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

</head>

<body>
    
    <header>
        <nav class="navbar">
            <a href="/"> <img class="logo" src="/images/logo.ico" alt="logo" height="120"> </a>
           <div class="nav-links">
             <ul>
                <li> <a href="/Selles"> Selles </a> </li>
                <li> <a href="/Brides"> Brides </a> </li>
                <li> <a href="/Accessoires_equestres"> Accessoires équestres </a> </li>
                <li> <a href="/Fauconnerie"> Fauconnerie </a></li>
                <li> <a href="/Contact"> Contact </a></li>
                <li> <a href="/Panier"> Panier </a></li>
                
             </ul>
            </div>
        </nav>

    </header>

    <section class="fiche_produit">
           

                <div class="left_sp">
                   
                    <div class="image_produit_sg">

                        <img src="/images/hackamors" alt="selle de barrel">
                        
                    </div>
                    
                
                </div>

                <div class="right">
                    
                        <h3> Hackamors </h3>
                        <div class="ligne"></div>
                        <p class="description_hackamors">

                            Bride alternative ne nécessitant pas l'utilisation d'un mors.
                            Le hackamore utilise une pression sur le nez du cheval grace à la muserolle. 
                            Le Hackamors peut offrir un contact plus doux et moins invasif que celui offert par un mors, mais il n'en reste pas moins puissant. Le hackamore est souvent utilisé pour l'entraînement des jeunes chevaux, les chevaux ayant des problèmes dentaires ou des sensibilités au niveau de la bouche.

                        </p>


                    <div class="detail_prix">   
                        <p>

                            À partir de 370€

                        </p>
                    </div> 
                    
                        <a href="/Contact"><button> Commander </button></a>
                    
                </div> 
        
 
    </section>




</body>

</html>